{% extends 'ngtdc_db/base.html' %}
{% block body_block %}
{% load render_table from django_tables2 %}

<div style="width:90%; margin:0 auto; padding-top: 50px; padding-bottom: 50px;">

    <div>
        <h1>National Genomic Test Directory for Cancer</h1><br>
        <p>
            <strong>Version currently displayed: </strong>
            {% if directory_version == '2' %}
                July 2021 (most recent)
            
            {% elif directory_version == '1' %}
                November 2020

            {% endif %}
            <br>
            Select alternative version:
            <ul>
            {% if directory_version == '2' %}
                <li><a href='/v1/ci/'>November 2020</a></li>
            
            {% elif directory_version == '1' %}
                <li><a href='/v2/ci/'>July 2021 (most recent version)</a></li>
                
            {% endif %}
            </ul>
        <hr/>​​​​​​​​​​​​​​​​​​​
        </p>
    </div>

    <div>
        <h2>Search/filter by clinical indications</h2>
        <p>
            Alternatively,
            {% if directory_version == '2' %}
                <a href='/' >search/filter by genomic test details</a>
            
            {% elif directory_version == '1' %}
                <a href='/v1/' >search/filter by genomic test details</a>
                
            {% endif %}
        </p>
        <br>

        <form method='GET'>
            {{ filter.form.as_ul }}
            <br>
            <input type='submit' value='Filter' />
    
            <br><br>
            {{ filter.qs.count }} of {{ filter.queryset.count }} items returned.
            <br>
    
            <a href='{{ request.path }}' >Clear filters</a>
        </form>
    </div>

<hr/>​​​​​​​​​​​​​​​​​​​<br/>

    {% if table %}
        {% render_table table %}
    {% endif %}
    
</div>

{% endblock %}
