{% extends 'ngtdc_db/base.html' %}
{% block body_block %}
{% load render_table from django_tables2 %}

<div style="width: 90%; margin: 0 auto; padding-top: 50px; padding-bottom: 50px;">

    <div>
        <h1>National Genomic Test Directory for Cancer</h1><br>
        <p>
            <strong>Version currently displayed: </strong>

            {% if directory_version == '2' %}
                Version 2: 2021 (most recent)
            
            {% elif directory_version == '1' %}
                Version 1: 2020

            {% endif %}

            <br>
            Select alternative version:
            <ul>

            {% if directory_version == '2' %}
                <li><a href='/v1/'>Version 1: 2020</a></li>
            
            {% elif directory_version == '1' %}
                <li><a href='/'>Version 2: 2021 (most recent version)</a></li>
                
            {% endif %}

            </ul>
        </p>
        <hr/>​​​​​​​​​​​​​​​​​​​<br/>
    </div>

    <div>
        <h2>Search/filter all genomic tests</h2>
        <p>
            Alternatively,

            {% if directory_version == '2' %}
                <a href='/v2/ci/' >search/filter by clinical indication groups</a>
            
            {% elif directory_version == '1' %}
                <a href='/v1/ci/' >search/filter by clinical indication groups</a>
                
            {% endif %}
            
        </p>
        <br>

        <form method='GET'>
            {{ filter.form.as_ul }}
            <br>
            <input type='submit' value='Filter' />
    
            <br><br>
            {{ filter.qs.count }} of {{ filter.queryset.count }} items returned.
            <br>
    
            <a href='{{ request.path }}' >Clear filters</a>
        </form>
    </div>

<hr/>​​​​​​​​​​​​​​​​​​​<br/>

    {% if table %}
        {% render_table table %}
    {% endif %}
    
</div>

{% endblock %}
