{% extends 'ngtdc_db/base.html' %}
{% block body_block %}

<div style="width:90%; margin:0 auto; padding-top: 50px; padding-bottom: 50px;">

    <div>
        <h1>National Genomic Test Directory for Cancer</h1>
        <p>
            <strong>Version currently displayed: </strong>
            {% if directory_version == '2' %}
                July 2021 (most recent)
                <br><a href='/'>Back to table view</a>
            
            {% elif directory_version == '1' %}
                November 2020
                <br><a href='/v1/'>Back to table view</a>

            {% endif %} 
        </p><br>

        <h2>Individual Test Details:</h2>
        <br>

        <p style='text-align:center; font-size:24px'>
            <strong>
                {{ test_record.test_code }} {{ test_record.test_name }}
            </strong>
        </p>

        {% if directory_version == '2' %}
        <p>
            <strong>Specialist Test Group</strong>
            <br>{{ test_record.specialist_id }}
        </p>
        {% endif %}

        <p>
            <strong>Currently provided: </strong>{{ test_record.currently_provided}}
        </p>
        ​<hr/>
    </div>

    <div>
        <p>
            <strong>Cancer Type</strong>
            <br>{{ test_record.ci_code.cancer_id}}
        </p>

        <p>
            <strong>Clinical Indication</strong>
            {% if directory_version == '2' %}
                <br><a href='/v2/ci/{{ test_record.ci_code.ci_code }}/'>{{ test_record.ci_code }}</a>
            
            {% elif directory_version == '1' %}
                <br><a href='/v1/ci/{{ test_record.ci_code.ci_code }}/'>{{ test_record.ci_code }}</a>

            {% endif %} 
            
        </p>

        <p>
            <strong>Test Scope</strong>
            <br>{{ test_record.scope_id }}
        </p>

        <p>
            <strong>Technology</strong>
            <br>{{ test_record.tech_id }}
        </p>

        <p>
            <strong>In-House Test</strong>
            <br>{{ test_record.inhouse_technology }}
        </p>

        <p>
            <strong>Essential Targets ({{ essential_links.count }})</strong>
            <br>HGNC ID in brackets if available
            <ul>
                {% for record in essential_links %}
                <li>{{ record.target_id }} ({{ record.target_id.hgnc_id }})</li>
                {% endfor %}
            </ul>
        </p>

        {% if directory_version == '2' %}
        <p>
            <strong>Desirable Targets ({{ desirable_links.count }})</strong>
            <br>HGNC ID in brackets if available
            <ul>
                {% for record in desirable_links %}
                <li>{{ record.target_id }} ({{ record.target_id.hgnc_id }})</li>
                {% endfor %}
            </ul>
        </p>

        <p>
            <strong>Optimal Family Structure</strong>
            <br>{{ test_record.family_id }}
        </p>

        <p>
            <strong>CITT Comment</strong>
            <br>{{ test_record.citt_id }}
        </p>

        <p>
            <strong>TT Code</strong>
            <br>{{ test_record.tt_code }}
        </p>
        
        <p>
            <strong>Commissioning Category</strong>
            <br>{{ test_record.cc_id }}
        </p>
        {% endif %}

        <p>
            <strong>Eligibility Criteria</strong>
            <br>{{ test_record.eligibility }}
        </p>
    </div>

</div>

{% endblock %}
