{% extends 'ngtdc_db/base.html' %}
{% block body_block %}

<div style="width:90%; margin:0 auto; padding-top: 50px; padding-bottom: 50px;">

    <div>
        <h1>National Genomic Test Directory for Cancer</h1>
        <h2>Individual Test Details:</h2>
        <br>

        <p style='text-align:center; font-size:24px'><strong>
            {{ test_record.test_code }} {{ test_record.test_name }}
        </strong></p>

        <p>
            <strong>Currently provided: </strong>{{ test_record.provided_id}}
        </p>
        ​<hr/>
    </div>

    <div>
        <div>
            <p>
                <strong>Cancer Type</strong>
                <br>{{ test_record.ci_code.cancer_id}}
            </p>

            <p>
                <strong>Clinical Indication</strong>
                <br>{{ test_record.ci_code }}
            </p>

            <p>
                <strong>Test Scope</strong>
                <br>{{ test_record.scope_id }}
            </p>

            <p>
                <strong>Technology</strong>
                <br>{{ test_record.tech_id }}
            </p>

            <p>
                <strong>In-House Test</strong>
                <br>{{ test_record.inhouse_id }}
            </p>

            <p>
                <strong>Targets ({{ links.count }})</strong>
                <ul>
                    {% for record in links %}
                    <li>{{ record.target_id }}</li>
                    {% endfor %}
                </ul>
            </p>

            <p>
                <strong>Eligibility Criteria</strong>
                <br>{{ test_record.eligibility }}
            </p>
        </div>
    </div>

</div>

{% endblock %}
